<img src=images/gdd-logo.png align=right width=300px>

# Data types

In programming, data types are an important concept.

In this section, we are going to cover:

* [Data types overview](#type-overview)
* [Converting to another data type](#convert)
* [Checking the type](#type-check)
* [Calculations using ints and floats](#ints-floats)
* [String operations](#string-op) 
* [String methods](#string-method)
* [Using the in operator](#in-operator)
* <mark>[Exercise: Change the sentence](#exercise)</mark>


<a id='type-overview'></a> 
## Data types overview

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, we're going to look at:

Numeric:
* `int`: integers AKA *whole numbers*, e.g. `0`, `1`, `2`, `3`, ...
* `float`: floating point numbers AKA *numbers with decimals*, e.g. `0.1234`, `1.2354`, ...
* `bool`: booleans AKA things that can either be `True` or `False`

Non-numeric/text:
* `str`: strings AKA *text*, e.g. `"hello, this is a string"`

![numbers](images/numbers.png)

<a id = 'type-check'></a>
## Checking the type

You can get the data type of any object by using the type() function:
```python
>> var = 3
>> type(var)
int
```
<mark>**Practice:** What is the type of each of these variables?</mark>
    
- Add what you think in a comment (e.g. `# integer`) at the end of each line
- Use `type()` to check if you were right!

In [ ]:
q = 2 # integer
w = 2.4
e = '24.5'
r = 4.
t = True
y = "Hello world!"

In [ ]:
# try it out here
type(w)

<a id = 'convert'></a>
## Converting to another data type

Need to convert a data type? The following functions will be really useful:

```python
float()
int()
str()
bool()
```

In [ ]:
float("56")

<mark>**Practice**: Try the following:</mark>
1. Turn `a` into a string.
2. Try turning `b` into a float. Is it possible?
3. Why does `c + d` error? How can you fix it?
4. **Bonus:** explore what happens when you try to convert numbers or strings into a `bool`.

In [ ]:
a = 4754
b = "I'm not a float"
c = "I love the number"
d = 7

In [ ]:
# add your code here

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
```python
print(str(a))
print(float(b)) # will give an error
print(c + str(d))
```
    
The value you want to convert needs to be able to be that type. For example a string `"56.43"` can be converted into a `float` but `"I am not a float"` cannot!

</details>

<a id='ints-floats'></a> 
## Calculations using ints and floats
You can perform all kinds of mathematical operations in Python.

In [ ]:
q + w



### On 22nd April 1876...

<img src=images/swanlake.png align=right width=200px>

1876 Pyotr Ilyich Tchaikovsky completed his ballet "Swan Lake".



Use the below variables to work out the following - the questions with * are more challenging.

- How many years has it been since Tchaikovsky complete writing the ballet?
- How long is the whole show? (All four acts back to back)
- *How many years did it take for the Netherlands (NL) to premier Swan Lake?
- *How many ballet shoes are needed in one production of Swan Lake*?

*assuming each ballet dancer only needs one pair

In [ ]:
year_completed = 1876
num_acts = 4
avg_length_acts = 38.5
num_ballet_dancers = '120'
year_of_first_showing_NL = 1965.0

In [ ]:
# add your code here

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
```python
print(2025 - year_completed)
print(num_acts * avg_length_acts)
print(int(year_of_first_showing_NL - year_completed))
print(2 * int(num_ballet_dancers))
```

</details>

Python respects the order of mathematical operations:

In [ ]:
r + 10 * q

<a id='string-op'></a> 
### Operations with strings

When the `+` operator is used on strings, the strings will be concatenated.

<mark>**Practice:** How about the other operators? Try to:</mark>
1. Multiply `number` by the integer `2`
2. Divide `number` by the integer `3`
3. Subtract the string`'2'` from `number`

**Note:** Not all will work. Which ones do?

In [ ]:
number = '12'

print(number + '3')
# add the other operators

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
```python
print(number * 2) # result: '1212'
print(number / 3) # result: error
print(number - '2') # result: error
```
    
The string operations that work are addition and multiplication.

</details>

<a id='string-method'></a> 
### String methods

We can use methods to alter objects.

The methods we can use for strings are:

* `.lower()`: converts the string to lowercase
* `.upper()`: CONVERTS THE STRING TO UPPERCASE
* `.title()`: Capitalizes Every First Letter
* `.capitalize()`: Capitalizes only the first letter. even in multiple sentences
* `.split()`: ['converts', 'the', 'string', 'into', 'a', 'list', 'of', 'words']
* `.replace()`: replaces part of the string with something else (you must specify what!)

In [ ]:
sentence = "hello there, my name is "
name = "lucy sheppard"

<mark>**Practice:** Make the full sentence `Hello there, my name is Lucy Sheppard.`</mark>

In [ ]:
# code here

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
```python
sentence.capitalize() + name.title() + "."
```

</details>

<mark>**Practice:** What results do you expect to get for the following methods?</mark>

Think about it first and then run the cell.

In [ ]:
sentence.capitalize()

In [ ]:
sentence.split()

In [ ]:
sentence.split(",")

In [ ]:
name.replace("sheppard", "potter")

<a id='in-operator'></a> 
## Using the in operator

You check whether a string is part of a larger string by using the `in` operator.

In [ ]:
'a' in 'amsterdam'

<mark>**Questions**:</mark>
1. What result do you get when checking if the string above contains `'A'`? Why?
2. What is the type of the output?

In [ ]:
# add your code here

Answer:

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
1. The result is `False`, because it is case-sensitive.
2. The type is a boolean (bool).

</details>

<a id='exercise'></a>
## <mark> Exercise: Change the sentence </mark>

Use what you know about data types and string methods to print the following sentence:

`Hello everyone, my name is Taylor Swift. I am 35 and it was 2006 when my first album came out.`

In [ ]:
greeting = 'hello everyone,'
my_name_is = 'MY NAME IS'
name = 'taylor swift'
age = 35.0
year_of_first_album = "and it was 2006 when my first SINGLE came out."

In [ ]:
# add your code here

<mark>**Bonus:**</mark> Print the following sentence:

`My Favourite Pattern is 1231231230. Because it's cool. `

In [ ]:
start_sentence = "my favourite pattern"
first_num = 123
last_num = 0.0000
end_sentence = "because it's cool."

In [ ]:
# add your code here

**Answers:**

In [ ]:
# %load answers/ex-string-int.py

In [ ]:
# %load answers/ex-string-int2.py